/Leibniz/build/
/leibniz/build/
/leibniz/nbproject/private/
/ca.uqam.inf2015.aut2011.tp1/leibniz/build/
/ca.uqam.inf2015.aut2011.tp1/leibniz/nbproject/private/
/leibniz2/build/
/leibniz2/nbproject/private/
/hibernate-validator-demo/.settings/
/hibernate-validator-demo/target/
/insurance/nbproject/private/
/insurance/build/
/insurance/dist/
/Refund/nbproject/private/
/Refund/build/
/Refund/dist/
/BatailleNavale/target/